:root {
  --color-primary: hsl(173, 50%, 90%);
  --color-secondary: hsl(173, 50%, 10%);
  --color-tertiary: hsl(233, 80%, 20%);
  --color-accent: hsl(113, 80%, 20%);
}
.dark {
  --color-primary: hsl(173, 50%, 10%);
  --color-secondary: hsl(173, 50%, 90%);
  --color-tertiary: hsl(233, 80%, 80%);
  --color-accent: hsl(113, 80%, 80%);
}



/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The sidenav */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Page content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}